.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

.gameContainer {
    box-shadow: 0 -1px 12px -1px rgba(0, 0, 0, 0.21) inset;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    padding:15px;
    position: relative;
    transition: 200ms;
}

.progressContainer {
    box-shadow: 0 -1px 12px -1px rgba(0, 0, 0, 0.21) inset;
    margin: 20px;
    border-radius: 30px;
    padding:15px;
    display: flex;
    gap: 20px;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.scoreTitle {
    color: #bebebe;
    padding-bottom: 5px;
}

.scoreValue {
    color: #6A5ACD;
}


.fieldRow {
    display: grid;
    height: 25%;
}

.filledFieldItem {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fieldItem {
    position: absolute;
    min-height: 105px;
    min-width: 105px;
    max-height: 105px;
    max-width: 105px;

    border-radius: 45px;
    margin: 10px;
    transition:  200ms ease 0s;

}

.fieldItem2 {
    background: #6A5ACD;

}

.fieldItem4 {
    background:  #42AAFF;

}

.fieldItem8 {
    background: #CCCCFF;
}

.fieldItem16 {
    background: #E4FF9E;
}

.fieldItem32 {
    background: #FFFE83;
}

.fieldItem64 {
    background: #FDD73C;
}

.fieldItem128 {
    background: #FFB600;
}

.fieldItem256 {
    background: #CF7E12;
}

.fieldItem512 {
    background: #E15600;
}

.fieldItem1028 {
    background: #F73F3F;
}

.fieldItem2048 {
    background: #910000;
}
